<li [ngClass]="{'list-group-item' : true,
                'd-flex':true,
                'flex-column':true,
                'list-group-item-success':post.loveIts > 0,
                'list-group-item-danger':post.loveIts < 0}">
  <div class="row d-flex flex-row justify-content-between align-items-center">
    <h2>{{ post.title }}</h2><span>{{ post.createdAt | date: 'short' }}</span>
  </div>
  <p>{{ post.content }}</p>

  <div class="d-flex flex-row justify-content-around align-items-center">
    <button type="button" class="btn btn-success" (click)="loveIt()"><fa name="thumbs-up"></fa>&nbsp;Love it !</button>
    <strong>{{ post.loveIts }}</strong>
  <button type="button" class="btn btn-danger" (click)="dontLoveIt()"><fa name="thumbs-down"></fa>&nbsp;Don't love it !</button>
  </div>
</li>
